### Aviation Data

Over the past few years , we as Drizzle plane company have been having a drop in profits and raise in losses especially due to the number of old planes within the company.

After careful consideration , I as the data analyst of the firm had to come up with a proposal especially affter careful consideration through the National Transportation Safety Board ,I was granted access to data containing the number of accidents new and technologized planes have undergone and in which parts of the country are affected by this.

Some of the reasons why this is good informattion is because most of the decision comes from careful analysation of the data provided. We may come up with different plane types to consider for purchase especially if we are planning to change the rate at which the company impacts the society.

Inorder for us to come up with a clear cosideration and proposal for the stakeholders ,we have to go through and visualize through the data provided. For this to start, we have to first load the data from the main source and clean it thourougly then finally ccome up with different visualizations that will aid in the passing of the proposal.

In [1]:
#Step 1 is loading the packages that will help in coming up with the proposal
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Now that we have loaded the packages to process the data given to us , we can now open the files and check the dataset structure for both

In [6]:
#We have loaded the first document (AviationData) as a dataset called df_aviationdata.
df_aviationdata = pd.read_csv('AviationData.csv',encoding = 'latin1',low_memory=False)

# Now that both datasets are loaded into our working area , we can now check the validity and shape of the datasets to confirm its eligibility within the work environment

We can check the order at which both datasets are loaded using head() attribute and the shape() attribute to also confirm validity

In [9]:
# Now that we have both data structures well confirmed and verrified for continuation, we will proceed to data cleaning.
df_aviationdata.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

## DATA UNDERSTANDING

To clearly understand what this data entails , we have to go through it step by step.First step is to check the type of data present in the US_codes dataset first then move to the aviation_data dataset.

In [11]:
#checking the original shape of the aviation data dataset
df_aviationdata.shape

(88889, 31)

We also have to check the information provided in both datasets . We can do this in two different lines to understand the two.

In [13]:
df_aviationdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

Now that we have all information regarding the datasets , we can now move to copying the datasets and choosing specific columns to aid in our data presentation

After checking the values , we can now determine that both indexes/columns would be required for the cleaning of data .

In [16]:
#check columns present in df_aviation data and choose specific columns for manipulation
df_aviationdata.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [123]:
df2 = df_aviationdata.copy()

In [124]:
df2.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,US_State
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN,"MOOSE CREEK, ID"
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996,"BRIDGEPORT, CA"
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007,"Saltville, VA"
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000,"EUREKA, CA"
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980,"Canton, OH"

In [150]:
# drop columns that would interfere with our work
df3 = df2.drop(['Latitude'],axis = 1)
df3

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,US_State
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,Fatal(2),Destroyed,...,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN,"MOOSE CREEK, ID"
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,Fatal(4),Destroyed,...,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996,"BRIDGEPORT, CA"
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,NaN,NaN,Fatal(3),Destroyed,...,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007,"Saltville, VA"
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,Fatal(2),Destroyed,...,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000,"EUREKA, CA"
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,Fatal(1),Destroyed,...,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980,"Canton, OH"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,Minor,NaN,...,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022,"Annapolis, MD"
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,"Hampton, NH"
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,PAN,PAYSON,Non-Fatal,Substantial,...,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,"Payson, AZ"
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,"Morgan, UT"
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,Minor,NaN,...,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022,"Athens, GA"

In [154]:
df3.isnull().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Airport.Code              38640
Airport.Name              36099
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1317
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7077
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6381
Publication.Date          13771
US_State                     52
dtype: int64

In [155]:
df3['Location'].unique()

array(['MOOSE CREEK, ID', 'BRIDGEPORT, CA', 'Saltville, VA', ...,
       'San Manual, AZ', 'Auburn Hills, MI', 'Brasnorte, '], dtype=object)

In [156]:
df3['Location'].fillna('Unknown',inplace=True)

In [157]:
df3

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,US_State
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,Fatal(2),Destroyed,...,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN,"MOOSE CREEK, ID"
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,Fatal(4),Destroyed,...,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996,"BRIDGEPORT, CA"
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,NaN,NaN,Fatal(3),Destroyed,...,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007,"Saltville, VA"
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,Fatal(2),Destroyed,...,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000,"EUREKA, CA"
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,Fatal(1),Destroyed,...,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980,"Canton, OH"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,Minor,NaN,...,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022,"Annapolis, MD"
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,"Hampton, NH"
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,PAN,PAYSON,Non-Fatal,Substantial,...,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,"Payson, AZ"
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,"Morgan, UT"
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,Minor,NaN,...,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022,"Athens, GA"

In [159]:
df3['Location'].isna().sum()

0

In [160]:
df4 = df3.drop(['Airport.Code','Airport.Name'],axis=1)
df4

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,US_State
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,NaN,NC6404,...,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN,"MOOSE CREEK, ID"
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,NaN,N5069P,...,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996,"BRIDGEPORT, CA"
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,Fatal(3),Destroyed,NaN,N5142R,...,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007,"Saltville, VA"
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,Fatal(2),Destroyed,NaN,N1168J,...,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000,"EUREKA, CA"
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,Fatal(1),Destroyed,NaN,N15NY,...,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980,"Canton, OH"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,Minor,NaN,NaN,N1867H,...,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022,"Annapolis, MD"
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,N2895Z,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,"Hampton, NH"
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,Non-Fatal,Substantial,Airplane,N749PJ,...,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,"Payson, AZ"
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,N210CU,...,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,"Morgan, UT"
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,Minor,NaN,NaN,N9026P,...,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022,"Athens, GA"

In [163]:
#now we can deal with the categorical null values
df4['Aircraft.Category'].unique()

array([nan, 'Airplane', 'Helicopter', 'Glider', 'Balloon', 'Gyrocraft',
       'Ultralight', 'Unknown', 'Blimp', 'Powered-Lift', 'Weight-Shift',
       'Powered Parachute', 'Rocket', 'WSFT', 'UNK', 'ULTR'], dtype=object)

In [165]:
df4['Aircraft.Category'].isnull().sum()

56602

In [171]:
df4['Aircraft.Category'].fillna('Unknown',inplace=True)
df4

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,US_State
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,Unknown,NC6404,...,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN,"MOOSE CREEK, ID"
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,Unknown,N5069P,...,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996,"BRIDGEPORT, CA"
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,Fatal(3),Destroyed,Unknown,N5142R,...,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007,"Saltville, VA"
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,Fatal(2),Destroyed,Unknown,N1168J,...,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000,"EUREKA, CA"
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,Fatal(1),Destroyed,Unknown,N15NY,...,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980,"Canton, OH"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,Minor,NaN,Unknown,N1867H,...,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022,"Annapolis, MD"
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,Unknown,N2895Z,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,"Hampton, NH"
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,Non-Fatal,Substantial,Airplane,N749PJ,...,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,"Payson, AZ"
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,Unknown,N210CU,...,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,"Morgan, UT"
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,Minor,NaN,Unknown,N9026P,...,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022,"Athens, GA"

In [173]:
df4['Aircraft.Category'].unique()

array(['Unknown', 'Airplane', 'Helicopter', 'Glider', 'Balloon',
       'Gyrocraft', 'Ultralight', 'Blimp', 'Powered-Lift', 'Weight-Shift',
       'Powered Parachute', 'Rocket', 'WSFT', 'UNK', 'ULTR'], dtype=object)

In [174]:
df4.isnull().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                      0
Country                     226
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category             0
Registration.Number        1317
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7077
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6381
Publication.Date          13771
US_State                     52
dtype: int64

In [201]:
df5 = df4.drop(['FAR.Description','Schedule','Air.carrier','Broad.phase.of.flight','Report.Status','Publication.Date','Engine.Type','Number.of.Engines','Purpose.of.flight'],axis =1)
df5

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,Make,Model,Amateur.Built,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,US_State
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,Unknown,NC6404,Stinson,108-3,No,2.0,0.0,0.0,0.0,UNK,"MOOSE CREEK, ID"
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,Unknown,N5069P,Piper,PA24-180,No,4.0,0.0,0.0,0.0,UNK,"BRIDGEPORT, CA"
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,Fatal(3),Destroyed,Unknown,N5142R,Cessna,172M,No,3.0,NaN,NaN,NaN,IMC,"Saltville, VA"
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,Fatal(2),Destroyed,Unknown,N1168J,Rockwell,112,No,2.0,0.0,0.0,0.0,IMC,"EUREKA, CA"
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,Fatal(1),Destroyed,Unknown,N15NY,Cessna,501,No,1.0,2.0,NaN,0.0,VMC,"Canton, OH"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,Minor,NaN,Unknown,N1867H,PIPER,PA-28-151,No,0.0,1.0,0.0,0.0,NaN,"Annapolis, MD"
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,Unknown,N2895Z,BELLANCA,7ECA,No,0.0,0.0,0.0,0.0,NaN,"Hampton, NH"
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,Non-Fatal,Substantial,Airplane,N749PJ,AMERICAN CHAMPION AIRCRAFT,8GCBC,No,0.0,0.0,0.0,1.0,VMC,"Payson, AZ"
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,Unknown,N210CU,CESSNA,210N,No,0.0,0.0,0.0,0.0,NaN,"Morgan, UT"
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,Minor,NaN,Unknown,N9026P,PIPER,PA-24-260,No,0.0,1.0,0.0,1.0,NaN,"Athens, GA"

In [202]:
df5.isnull().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                      0
Country                     226
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category             0
Registration.Number        1317
Make                         63
Model                        92
Amateur.Built               102
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
US_State                     52
dtype: int64

In [203]:
df5['Total.Fatal.Injuries'].fillna(df5['Total.Fatal.Injuries'].mean(),inplace=True)

In [204]:
df5['Total.Fatal.Injuries'].isnull().sum()

0

In [205]:
df5['Total.Serious.Injuries'].fillna(df5['Total.Serious.Injuries'].mean(),inplace=True)

In [206]:
df5['Total.Minor.Injuries'].fillna(df5['Total.Minor.Injuries'].median(),inplace=True)

In [207]:
df5['Total.Uninjured'].fillna(df5['Total.Uninjured'].median(),inplace=True)

In [208]:
df5['Weather.Condition'].fillna('Unknown',inplace=True)

In [209]:
df5

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,Make,Model,Amateur.Built,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,US_State
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,Unknown,NC6404,Stinson,108-3,No,2.0,0.000000,0.0,0.0,UNK,"MOOSE CREEK, ID"
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,Unknown,N5069P,Piper,PA24-180,No,4.0,0.000000,0.0,0.0,UNK,"BRIDGEPORT, CA"
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,Fatal(3),Destroyed,Unknown,N5142R,Cessna,172M,No,3.0,0.279881,0.0,1.0,IMC,"Saltville, VA"
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,Fatal(2),Destroyed,Unknown,N1168J,Rockwell,112,No,2.0,0.000000,0.0,0.0,IMC,"EUREKA, CA"
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,Fatal(1),Destroyed,Unknown,N15NY,Cessna,501,No,1.0,2.000000,0.0,0.0,VMC,"Canton, OH"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,Minor,NaN,Unknown,N1867H,PIPER,PA-28-151,No,0.0,1.000000,0.0,0.0,Unknown,"Annapolis, MD"
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,Unknown,N2895Z,BELLANCA,7ECA,No,0.0,0.000000,0.0,0.0,Unknown,"Hampton, NH"
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,Non-Fatal,Substantial,Airplane,N749PJ,AMERICAN CHAMPION AIRCRAFT,8GCBC,No,0.0,0.000000,0.0,1.0,VMC,"Payson, AZ"
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,Unknown,N210CU,CESSNA,210N,No,0.0,0.000000,0.0,0.0,Unknown,"Morgan, UT"
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,Minor,NaN,Unknown,N9026P,PIPER,PA-24-260,No,0.0,1.000000,0.0,1.0,Unknown,"Athens, GA"

In [210]:
df5.isnull().sum()

Event.Id                     0
Investigation.Type           0
Accident.Number              0
Event.Date                   0
Location                     0
Country                    226
Injury.Severity           1000
Aircraft.damage           3194
Aircraft.Category            0
Registration.Number       1317
Make                        63
Model                       92
Amateur.Built              102
Total.Fatal.Injuries         0
Total.Serious.Injuries       0
Total.Minor.Injuries         0
Total.Uninjured              0
Weather.Condition            0
US_State                    52
dtype: int64

In [229]:
df6 = df5.drop(['Aircraft.damage','Location','Event.Id'],axis=1)

In [230]:
df6

,Investigation.Type,Accident.Number,Event.Date,Country,Injury.Severity,Aircraft.Category,Registration.Number,Make,Model,Amateur.Built,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,US_State
0,Accident,SEA87LA080,1948-10-24,United States,Fatal(2),Unknown,NC6404,Stinson,108-3,No,2.0,0.000000,0.0,0.0,UNK,"MOOSE CREEK, ID"
1,Accident,LAX94LA336,1962-07-19,United States,Fatal(4),Unknown,N5069P,Piper,PA24-180,No,4.0,0.000000,0.0,0.0,UNK,"BRIDGEPORT, CA"
2,Accident,NYC07LA005,1974-08-30,United States,Fatal(3),Unknown,N5142R,Cessna,172M,No,3.0,0.279881,0.0,1.0,IMC,"Saltville, VA"
3,Accident,LAX96LA321,1977-06-19,United States,Fatal(2),Unknown,N1168J,Rockwell,112,No,2.0,0.000000,0.0,0.0,IMC,"EUREKA, CA"
4,Accident,CHI79FA064,1979-08-02,United States,Fatal(1),Unknown,N15NY,Cessna,501,No,1.0,2.000000,0.0,0.0,VMC,"Canton, OH"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,Accident,ERA23LA093,2022-12-26,United States,Minor,Unknown,N1867H,PIPER,PA-28-151,No,0.0,1.000000,0.0,0.0,Unknown,"Annapolis, MD"
88885,Accident,ERA23LA095,2022-12-26,United States,NaN,Unknown,N2895Z,BELLANCA,7ECA,No,0.0,0.000000,0.0,0.0,Unknown,"Hampton, NH"
88886,Accident,WPR23LA075,2022-12-26,United States,Non-Fatal,Airplane,N749PJ,AMERICAN CHAMPION AIRCRAFT,8GCBC,No,0.0,0.000000,0.0,1.0,VMC,"Payson, AZ"
88887,Accident,WPR23LA076,2022-12-26,United States,NaN,Unknown,N210CU,CESSNA,210N,No,0.0,0.000000,0.0,0.0,Unknown,"Morgan, UT"
88888,Accident,ERA23LA097,2022-12-29,United States,Minor,Unknown,N9026P,PIPER,PA-24-260,No,0.0,1.000000,0.0,1.0,Unknown,"Athens, GA"

Now that we have cleared most of the null values in the dataset we can finally move to saving the new dataset as a new and cleaned dataset

In [232]:
df6.to_csv('AviationData.csv', index=False)