### Aviation Data

Over the past few years , we as Drizzle plane company have been having a drop in profits and raise in losses especially due to the number of old planes within the company.

After careful consideration , I as the data analyst of the firm had to come up with a proposal especially affter careful consideration through the National Transportation Safety Board ,I was granted access to data containing the number of accidents new and technologized planes have undergone and in which parts of the country are affected by this.

Some of the reasons why this is good informattion is because most of the decision comes from careful analysation of the data provided. We may come up with different plane types to consider for purchase especially if we are planning to change the rate at which the company impacts the society.

Inorder for us to come up with a clear cosideration and proposal for the stakeholders ,we have to go through and visualize through the data provided. For this to start, we have to first load the data from the main source and clean it thourougly then finally ccome up with different visualizations that will aid in the passing of the proposal.

In [2]:
#Step 1 is loading the packages that will help in coming up with the proposal
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Now that we have loaded the packages to process the data given to us , we can now open the files and check the dataset structure for both

In [5]:
#We have loaded the first document (AviationData) as a dataset called df_aviationdata.
df_aviationdata = pd.read_csv('AviationData.csv',encoding = 'latin1',low_memory=False)
df_aviationdata.describe()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,88889.000000,88889.000000,88889.000000,88889.000000,88889.000000,88889.000000,88889.000000
mean,44444.000000,44444.000000,44444.000000,0.647855,0.279881,0.309127,5.037755
std,25660.188376,25660.188376,25660.188376,5.122070,1.431309,2.083715,26.990914
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,22222.000000,22222.000000,22222.000000,0.000000,0.000000,0.000000,0.000000
50%,44444.000000,44444.000000,44444.000000,0.000000,0.000000,0.000000,1.000000
75%,66666.000000,66666.000000,66666.000000,0.647855,0.279881,0.000000,2.000000
max,88888.000000,88888.000000,88888.000000,349.000000,161.000000,380.000000,699.000000

 Now that the dataset has been loaded into our working area , we can now check the validity and shape of the dataset to confirm its eligibility within the work environment

We can check the order at which the dataset is loaded using head() attribute and the shape() attribute to also confirm validity

In [3]:
# Now that we have both data structures well confirmed and verrified for continuation, we will proceed to data cleaning.
df_aviationdata.head()

,Unnamed: 0,Unnamed: 0.1,Investigation.Type,Accident.Number,Event.Date,Country,Aircraft.Category,Make,Model,Amateur.Built,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,US_State
0,0,0,Accident,SEA87LA080,1948-10-24,United States,Unknown,Stinson,108-3,No,2.0,0.000000,0.0,0.0,UNK,"MOOSE CREEK, ID"
1,1,1,Accident,LAX94LA336,1962-07-19,United States,Unknown,Piper,PA24-180,No,4.0,0.000000,0.0,0.0,UNK,"BRIDGEPORT, CA"
2,2,2,Accident,NYC07LA005,1974-08-30,United States,Unknown,Cessna,172M,No,3.0,0.279881,0.0,1.0,IMC,"Saltville, VA"
3,3,3,Accident,LAX96LA321,1977-06-19,United States,Unknown,Rockwell,112,No,2.0,0.000000,0.0,0.0,IMC,"EUREKA, CA"
4,4,4,Accident,CHI79FA064,1979-08-02,United States,Unknown,Cessna,501,No,1.0,2.000000,0.0,0.0,VMC,"Canton, OH"

## DATA UNDERSTANDING

To clearly understand what this data entails , we have to go through it step by step.First step is to check the type of data present in the dataset .

In [9]:
#checking the original shape of the aviation data dataset
df_aviationdata.shape

(88889, 17)

We also have to check the information provided in both datasets . We can do this in two different lines to understand the two.

In [10]:
df_aviationdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              88889 non-null  int64
 1   Unnamed: 0.1            88889 non-null  int64
 2   Unnamed: 0.1.1          88889 non-null  int64
 3   Investigation.Type      88889 non-null  object
 4   Accident.Number         88889 non-null  object
 5   Event.Date              88889 non-null  object
 6   Country                 88889 non-null  object
 7   Aircraft.Category       88889 non-null  object
 8   Make                    88826 non-null  object
 9   Model                   88797 non-null  object
 10  Amateur.Built           88787 non-null  object
 11  Total.Fatal.Injuries    88889 non-null  float64
 12  Total.Serious.Injuries  88889 non-null  float64
 13  Total.Minor.Injuries    88889 non-null  float64
 14  Total.Uninjured         88889 non-null  float64
 15  Weather.Condition       88889 non-null  object
 16  US_State                88889 non-null  object
dtypes: float64(4), int64(3), object(10)
memory usage: 11.5+ MB

Now that we have all information regarding the datasets , we can now move to copying the datasets and choosing specific columns to aid in our data presentation

## Data manipulation

In [11]:
#check columns present in df_aviation data and choose specific columns for manipulation
df_aviationdata.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'Investigation.Type',
       'Accident.Number', 'Event.Date', 'Country', 'Aircraft.Category', 'Make',
       'Model', 'Amateur.Built', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'US_State'],
      dtype='object')

In [13]:
#copying the code to a different datset so as to avoid disturbing the original dataset
df2 = df_aviationdata.copy()

In [14]:
df2.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Investigation.Type,Accident.Number,Event.Date,Country,Aircraft.Category,Make,Model,Amateur.Built,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,US_State
0,0,0,0,Accident,SEA87LA080,1948-10-24,United States,Unknown,Stinson,108-3,No,2.0,0.000000,0.0,0.0,UNK,"MOOSE CREEK, ID"
1,1,1,1,Accident,LAX94LA336,1962-07-19,United States,Unknown,Piper,PA24-180,No,4.0,0.000000,0.0,0.0,UNK,"BRIDGEPORT, CA"
2,2,2,2,Accident,NYC07LA005,1974-08-30,United States,Unknown,Cessna,172M,No,3.0,0.279881,0.0,1.0,IMC,"Saltville, VA"
3,3,3,3,Accident,LAX96LA321,1977-06-19,United States,Unknown,Rockwell,112,No,2.0,0.000000,0.0,0.0,IMC,"EUREKA, CA"
4,4,4,4,Accident,CHI79FA064,1979-08-02,United States,Unknown,Cessna,501,No,1.0,2.000000,0.0,0.0,VMC,"Canton, OH"

In [16]:
#to clearly choose columns, we have already dropped the unwanted columns now we check for presence of any null values.
df2.isnull().sum()

Unnamed: 0                  0
Unnamed: 0.1                0
Unnamed: 0.1.1              0
Investigation.Type          0
Accident.Number             0
Event.Date                  0
Country                     0
Aircraft.Category           0
Make                       63
Model                      92
Amateur.Built             102
Total.Fatal.Injuries        0
Total.Serious.Injuries      0
Total.Minor.Injuries        0
Total.Uninjured             0
Weather.Condition           0
US_State                    0
dtype: int64

In [17]:
#presence of null values in column make,model and even Amateur.Built
df2

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Investigation.Type,Accident.Number,Event.Date,Country,Aircraft.Category,Make,Model,Amateur.Built,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,US_State
0,0,0,0,Accident,SEA87LA080,1948-10-24,United States,Unknown,Stinson,108-3,No,2.0,0.000000,0.0,0.0,UNK,"MOOSE CREEK, ID"
1,1,1,1,Accident,LAX94LA336,1962-07-19,United States,Unknown,Piper,PA24-180,No,4.0,0.000000,0.0,0.0,UNK,"BRIDGEPORT, CA"
2,2,2,2,Accident,NYC07LA005,1974-08-30,United States,Unknown,Cessna,172M,No,3.0,0.279881,0.0,1.0,IMC,"Saltville, VA"
3,3,3,3,Accident,LAX96LA321,1977-06-19,United States,Unknown,Rockwell,112,No,2.0,0.000000,0.0,0.0,IMC,"EUREKA, CA"
4,4,4,4,Accident,CHI79FA064,1979-08-02,United States,Unknown,Cessna,501,No,1.0,2.000000,0.0,0.0,VMC,"Canton, OH"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,88884,88884,88884,Accident,ERA23LA093,2022-12-26,United States,Unknown,PIPER,PA-28-151,No,0.0,1.000000,0.0,0.0,Unknown,"Annapolis, MD"
88885,88885,88885,88885,Accident,ERA23LA095,2022-12-26,United States,Unknown,BELLANCA,7ECA,No,0.0,0.000000,0.0,0.0,Unknown,"Hampton, NH"
88886,88886,88886,88886,Accident,WPR23LA075,2022-12-26,United States,Airplane,AMERICAN CHAMPION AIRCRAFT,8GCBC,No,0.0,0.000000,0.0,1.0,VMC,"Payson, AZ"
88887,88887,88887,88887,Accident,WPR23LA076,2022-12-26,United States,Unknown,CESSNA,210N,No,0.0,0.000000,0.0,0.0,Unknown,"Morgan, UT"
88888,88888,88888,88888,Accident,ERA23LA097,2022-12-29,United States,Unknown,PIPER,PA-24-260,No,0.0,1.000000,0.0,1.0,Unknown,"Athens, GA"

In [20]:
#dropping the columns(due to them being already dropped an error keeps coming up)
df2.drop('Amateur.Built',axis=1,inplace =True)
df2

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Investigation.Type,Accident.Number,Event.Date,Country,Aircraft.Category,Make,Model,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,US_State
0,0,0,0,Accident,SEA87LA080,1948-10-24,United States,Unknown,Stinson,108-3,2.0,0.000000,0.0,0.0,UNK,"MOOSE CREEK, ID"
1,1,1,1,Accident,LAX94LA336,1962-07-19,United States,Unknown,Piper,PA24-180,4.0,0.000000,0.0,0.0,UNK,"BRIDGEPORT, CA"
2,2,2,2,Accident,NYC07LA005,1974-08-30,United States,Unknown,Cessna,172M,3.0,0.279881,0.0,1.0,IMC,"Saltville, VA"
3,3,3,3,Accident,LAX96LA321,1977-06-19,United States,Unknown,Rockwell,112,2.0,0.000000,0.0,0.0,IMC,"EUREKA, CA"
4,4,4,4,Accident,CHI79FA064,1979-08-02,United States,Unknown,Cessna,501,1.0,2.000000,0.0,0.0,VMC,"Canton, OH"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,88884,88884,88884,Accident,ERA23LA093,2022-12-26,United States,Unknown,PIPER,PA-28-151,0.0,1.000000,0.0,0.0,Unknown,"Annapolis, MD"
88885,88885,88885,88885,Accident,ERA23LA095,2022-12-26,United States,Unknown,BELLANCA,7ECA,0.0,0.000000,0.0,0.0,Unknown,"Hampton, NH"
88886,88886,88886,88886,Accident,WPR23LA075,2022-12-26,United States,Airplane,AMERICAN CHAMPION AIRCRAFT,8GCBC,0.0,0.000000,0.0,1.0,VMC,"Payson, AZ"
88887,88887,88887,88887,Accident,WPR23LA076,2022-12-26,United States,Unknown,CESSNA,210N,0.0,0.000000,0.0,0.0,Unknown,"Morgan, UT"
88888,88888,88888,88888,Accident,ERA23LA097,2022-12-29,United States,Unknown,PIPER,PA-24-260,0.0,1.000000,0.0,1.0,Unknown,"Athens, GA"

## Dropping of null values

After dropping the unwanted columns , we can now dwell deep in the data by going through all columns to ascertain that no null values are present

In [24]:
#now we can deal with the categorical null values using Aircraft.Category as the first column
df2['Aircraft.Category'].unique()

array(['Unknown', 'Airplane', 'Helicopter', 'Glider', 'Balloon',
       'Gyrocraft', 'Ultralight', 'Blimp', 'Powered-Lift', 'Weight-Shift',
       'Powered Parachute', 'Rocket', 'WSFT', 'UNK', 'ULTR'], dtype=object)

In [25]:
#after running the code below,we came to the understanding that there is no presence of any null values, so we can move to the next column
df2['Aircraft.Category'].isnull().sum()

0

In [26]:
df2['Aircraft.Category'].fillna('Unknown',inplace=True)
df2

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Investigation.Type,Accident.Number,Event.Date,Country,Aircraft.Category,Make,Model,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,US_State
0,0,0,0,Accident,SEA87LA080,1948-10-24,United States,Unknown,Stinson,108-3,2.0,0.000000,0.0,0.0,UNK,"MOOSE CREEK, ID"
1,1,1,1,Accident,LAX94LA336,1962-07-19,United States,Unknown,Piper,PA24-180,4.0,0.000000,0.0,0.0,UNK,"BRIDGEPORT, CA"
2,2,2,2,Accident,NYC07LA005,1974-08-30,United States,Unknown,Cessna,172M,3.0,0.279881,0.0,1.0,IMC,"Saltville, VA"
3,3,3,3,Accident,LAX96LA321,1977-06-19,United States,Unknown,Rockwell,112,2.0,0.000000,0.0,0.0,IMC,"EUREKA, CA"
4,4,4,4,Accident,CHI79FA064,1979-08-02,United States,Unknown,Cessna,501,1.0,2.000000,0.0,0.0,VMC,"Canton, OH"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,88884,88884,88884,Accident,ERA23LA093,2022-12-26,United States,Unknown,PIPER,PA-28-151,0.0,1.000000,0.0,0.0,Unknown,"Annapolis, MD"
88885,88885,88885,88885,Accident,ERA23LA095,2022-12-26,United States,Unknown,BELLANCA,7ECA,0.0,0.000000,0.0,0.0,Unknown,"Hampton, NH"
88886,88886,88886,88886,Accident,WPR23LA075,2022-12-26,United States,Airplane,AMERICAN CHAMPION AIRCRAFT,8GCBC,0.0,0.000000,0.0,1.0,VMC,"Payson, AZ"
88887,88887,88887,88887,Accident,WPR23LA076,2022-12-26,United States,Unknown,CESSNA,210N,0.0,0.000000,0.0,0.0,Unknown,"Morgan, UT"
88888,88888,88888,88888,Accident,ERA23LA097,2022-12-29,United States,Unknown,PIPER,PA-24-260,0.0,1.000000,0.0,1.0,Unknown,"Athens, GA"

In [27]:
#here we can check the null values for column make.
df2['Make'].unique()

array(['Stinson', 'Piper', 'Cessna', ..., 'JAMES R DERNOVSEK',
       'ORLICAN S R O', 'ROYSE RALPH L'], dtype=object)

In [28]:
df2.isnull().sum()

Unnamed: 0                 0
Unnamed: 0.1               0
Unnamed: 0.1.1             0
Investigation.Type         0
Accident.Number            0
Event.Date                 0
Country                    0
Aircraft.Category          0
Make                      63
Model                     92
Total.Fatal.Injuries       0
Total.Serious.Injuries     0
Total.Minor.Injuries       0
Total.Uninjured            0
Weather.Condition          0
US_State                   0
dtype: int64

After proper understanding, we have seen that the most affected columns have been dropped and the remaining we would just need to impute them.

## Imputing of null columns

Imputing would mean to properly change values present in a data column.This could be done through using of the mean mode value and even median value for numericals and for strings we would be required to fill in the values with a placeholder value for the data to work properly.

In [31]:
# We use this on column 'Total.Fatal.Injuries' and filling the values with the mode value of the column(most repeated).
df2['Total.Fatal.Injuries'].fillna(df2['Total.Fatal.Injuries'].mode(),inplace=True)

In [33]:
#checking the null values after using the attribute fillna
df2['Total.Fatal.Injuries'].isnull().sum()

0

In [35]:
# We ccan use the mean value on the column 'Total.Serious.Injuries'
df2['Total.Serious.Injuries'].fillna(df2['Total.Serious.Injuries'].mean(),inplace=True)

In [36]:
#check for null values within the column
df2['Total.Serious.Injuries'].isnull().sum()

0

In [38]:
# We can use the median value to fill in null values in the column but because it contains numerical values we are required to use the mean value of the column.
df2['Total.Minor.Injuries'].fillna(df2['Total.Minor.Injuries'].mean(),inplace=True)

In [39]:
#check null values
df2['Total.Minor.Injuries'].isnull().sum()

0

In [40]:
df2.isnull().sum()

Unnamed: 0                 0
Unnamed: 0.1               0
Unnamed: 0.1.1             0
Investigation.Type         0
Accident.Number            0
Event.Date                 0
Country                    0
Aircraft.Category          0
Make                      63
Model                     92
Total.Fatal.Injuries       0
Total.Serious.Injuries     0
Total.Minor.Injuries       0
Total.Uninjured            0
Weather.Condition          0
US_State                   0
dtype: int64

After completing the imputations we still can see that some values are null and so we have to either decide if it will help us with our final product or if its better to work without the two columns. We can decide to drop one then remain with the other one (drop model tho remain with make)

In [42]:
df2.drop('Model',axis=1,inplace = True)
df2

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Investigation.Type,Accident.Number,Event.Date,Country,Aircraft.Category,Make,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,US_State
0,0,0,0,Accident,SEA87LA080,1948-10-24,United States,Unknown,Stinson,2.0,0.000000,0.0,0.0,UNK,"MOOSE CREEK, ID"
1,1,1,1,Accident,LAX94LA336,1962-07-19,United States,Unknown,Piper,4.0,0.000000,0.0,0.0,UNK,"BRIDGEPORT, CA"
2,2,2,2,Accident,NYC07LA005,1974-08-30,United States,Unknown,Cessna,3.0,0.279881,0.0,1.0,IMC,"Saltville, VA"
3,3,3,3,Accident,LAX96LA321,1977-06-19,United States,Unknown,Rockwell,2.0,0.000000,0.0,0.0,IMC,"EUREKA, CA"
4,4,4,4,Accident,CHI79FA064,1979-08-02,United States,Unknown,Cessna,1.0,2.000000,0.0,0.0,VMC,"Canton, OH"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,88884,88884,88884,Accident,ERA23LA093,2022-12-26,United States,Unknown,PIPER,0.0,1.000000,0.0,0.0,Unknown,"Annapolis, MD"
88885,88885,88885,88885,Accident,ERA23LA095,2022-12-26,United States,Unknown,BELLANCA,0.0,0.000000,0.0,0.0,Unknown,"Hampton, NH"
88886,88886,88886,88886,Accident,WPR23LA075,2022-12-26,United States,Airplane,AMERICAN CHAMPION AIRCRAFT,0.0,0.000000,0.0,1.0,VMC,"Payson, AZ"
88887,88887,88887,88887,Accident,WPR23LA076,2022-12-26,United States,Unknown,CESSNA,0.0,0.000000,0.0,0.0,Unknown,"Morgan, UT"
88888,88888,88888,88888,Accident,ERA23LA097,2022-12-29,United States,Unknown,PIPER,0.0,1.000000,0.0,1.0,Unknown,"Athens, GA"

In [43]:
#df2['Total.Uninjured'].fillna(df2['Total.Uninjured'].median(),inplace=True)

In [45]:
#df2['Weather.Condition'].fillna('Unknown',inplace=True)

In [44]:
# we can now fill the null values present in column 'Make' to obtain clear and complete data

In [63]:
df2['Make'].fillna('Unknown',axis=0,inplace=True)

In [64]:
df2

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Investigation.Type,Accident.Number,Event.Date,Country,Aircraft.Category,Make,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,US_State
0,0,0,0,Accident,SEA87LA080,1948-10-24,United States,Unknown,Stinson,2.0,0.000000,0.0,0.0,UNK,"MOOSE CREEK, ID"
1,1,1,1,Accident,LAX94LA336,1962-07-19,United States,Unknown,Piper,4.0,0.000000,0.0,0.0,UNK,"BRIDGEPORT, CA"
2,2,2,2,Accident,NYC07LA005,1974-08-30,United States,Unknown,Cessna,3.0,0.279881,0.0,1.0,IMC,"Saltville, VA"
3,3,3,3,Accident,LAX96LA321,1977-06-19,United States,Unknown,Rockwell,2.0,0.000000,0.0,0.0,IMC,"EUREKA, CA"
4,4,4,4,Accident,CHI79FA064,1979-08-02,United States,Unknown,Cessna,1.0,2.000000,0.0,0.0,VMC,"Canton, OH"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,88884,88884,88884,Accident,ERA23LA093,2022-12-26,United States,Unknown,PIPER,0.0,1.000000,0.0,0.0,Unknown,"Annapolis, MD"
88885,88885,88885,88885,Accident,ERA23LA095,2022-12-26,United States,Unknown,BELLANCA,0.0,0.000000,0.0,0.0,Unknown,"Hampton, NH"
88886,88886,88886,88886,Accident,WPR23LA075,2022-12-26,United States,Airplane,AMERICAN CHAMPION AIRCRAFT,0.0,0.000000,0.0,1.0,VMC,"Payson, AZ"
88887,88887,88887,88887,Accident,WPR23LA076,2022-12-26,United States,Unknown,CESSNA,0.0,0.000000,0.0,0.0,Unknown,"Morgan, UT"
88888,88888,88888,88888,Accident,ERA23LA097,2022-12-29,United States,Unknown,PIPER,0.0,1.000000,0.0,1.0,Unknown,"Athens, GA"

In [65]:
#check for any new null values
df2.isnull().sum()

Unnamed: 0                0
Unnamed: 0.1              0
Unnamed: 0.1.1            0
Investigation.Type        0
Accident.Number           0
Event.Date                0
Country                   0
Aircraft.Category         0
Make                      0
Total.Fatal.Injuries      0
Total.Serious.Injuries    0
Total.Minor.Injuries      0
Total.Uninjured           0
Weather.Condition         0
US_State                  0
dtype: int64

Now that we have cleared most of the null values in the dataset we can finally move to saving the new dataset as a new and cleaned dataset

In [73]:
#dropping the new unrequired fields for better data understanding 
df2.drop(['Unnamed: 0','Unnamed: 0.1','Unnamed: 0.1.1'],axis = 1,inplace=True)

KeyError: "['Unnamed: 0' 'Unnamed: 0.1' 'Unnamed: 0.1.1'] not found in axis"

In [74]:
df2.columns

Index(['Investigation.Type', 'Accident.Number', 'Event.Date', 'Country',
       'Aircraft.Category', 'Make', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'US_State'],
      dtype='object')

In [75]:
df2.shape

(88889, 12)

After clear understanding of the data , we can go ahead and save the dataset as the new dataset to work with

In [77]:
df2.to_csv('Aviation_Data.csv', index=True)

## Data visualization